{% extends "base.html" %}
{% load staticfiles %}
{% block title %}修改密码{% endblock %}
{% block head %}
<header class="jumbotron subhead" id="header-base">
    <div class="container">
        <h1>修改密码</h1>
    </div>
</header>
{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
                {% if state == 'password_error' %}
                    <script language="javascript" type="text/javascript">
                        setTimeout(function(){alert("原始密码错误！")},5);
                    </script>
                {% elif state == 'repeat_error' %}
                    <script language="javascript" type="text/javascript">
                        setTimeout(function(){alert("密码重复错误！")},5);
                    </script>
                {% elif state == 'empty' %}
                    <script language="javascript" type="text/javascript">
                        setTimeout(function(){alert("密码不能为空！")},5);
                    </script>
                {% elif state == 'success' %}
                    <script type="text/javascript">
                    $(function(){
                            alert("密码修改成功！");
                    });
                    </script>
                {% endif %}
                <form method="POST" role="form" class="form-horizontal">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_old" class="col-md-3 control-label">原始密码：</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" required name="old_password" id="id_old">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_new" class="col-md-3 control-label">新密码：</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" required name="new_password" id="id_new">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_new_re" class="col-md-3 control-label">重复密码：</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" required name="repeat_password" id="id_new_re">
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-5">
                            <button class="btn btn btn-primary btn-block" type="submit">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
